[package]
name = "deep-systems-analysis"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.13" } #, features = ["dynamic_linking"] }
bevy_egui = "<0.26"
bevy-inspector-egui = "<0.24"
bevy_prototype_lyon = "0.11.0"
bevy_eventlistener = "0.7"
lyon_algorithms = "1"
num-traits = "0.2.18"
rust_decimal = { version = "1", features = ["serde"] }
rust_decimal_macros = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
regex = "1.10.4"
rfd = "0.14.1"

[dependencies.bevy_mod_picking]
version = "0.18"
default-features = false
features = ["backend_egui", "backend_raycast", "backend_sprite", "debug"]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[features]
default = []
init_complete_system = []
debug_selection = []
